*{
  box-sizing: border-box;
}

.menu{
  width:100% ;
  height: auto;
  background: #333 ;
}
.menu::after{
  content: '';
  clear: both;
  display: table;
}
.menu ul{
  padding:0px ;
  margin:0px ;
  list-style-type: none;
}
.menu ul li{
  float:left ;
}
.menu ul li a{
  padding:10px 16px ;
  display: block;
  color:white ;
  text-decoration: none;
}
.active{
  background-color: red;
}

form{
  width :250px ;
  height: auto;
  background : white ;
  box-shadow: 1px 1px 1px #ccc , -1px -1px 1px #ccc ;
  padding:20px ;
  margin:20px auto ;
}
.group-form{
  margin:10px 0px ;
}
label{
  display: block;
}
input{
  width:100% ;
  padding:6px ;
}